# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
ENV/
env/
.Python

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Mac
.DS_Store

# Data
*.csv
*.sqlite

# Logs
logs/
*.log

# Build
build/
dist/
*.egg-info/

# Secrets
.env.local
.env.*.local
